#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

.main-chat {
  padding: 0 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: rgba(255, 255, 255, 0.8);
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
  margin-bottom: 25px;
}

.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__author {
  display: block;
  margin-bottom: 8px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
}

.message__time {
  font-size: 11px;
}

.message-row--own {
  justify-content: flex-end;
  margin-bottom: 25px;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 12px;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 22px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  font-size: 20px;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  padding-right: 0;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply__column > i {
  opacity: 0.6;
}

.reply__column:first-child i {
  font-size: 23px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -8px;
  top: 3px;
}

.reply__column:last-child button > i {
  opacity: 0.9;
  font-size: 18px;
}

.reply__column:last-child > i {
  right: 33px;
  top: 9px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:active,
.reply__column button:focus {
  outline: none;
}

.reply__column button:hover {
  cursor: pointer;
}
